.p1{

    color: blue;
    text-decoration: none;
    line-height: 40px;
}

.p2{
    color: red;
    line-height: 40px;

    }

.p3{
    text-decoration: none;
    line-height: 40px;
}

.p1:hover{
    color: green;
    text-decoration: underline;

}

.p2:hover{
    color: blue;
    text-decoration: line-through;

}

.p3:hover{
    color: red;
    text-decoration: overline;

}