.block{
    border: 1px solid black;
    width: 1300px;
    height: 3300px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpAwtjwT_FJlD3tFKZbSJ4dltELQ3WaEqnjTx0IdNY2TlNgvBmjncsmh4GIfFZyU4-ygM&usqp=CAU');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
   
}

p{
   width: 500px;
   
}